{% extends "base.html" %}

{% block content %}
  <h1>Meal Substitution</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.ingredients.label }}<br>
      {{ form.ingredients }}
    </p>
    <p>
      Substitute a meal for one with similar nutrition with minimal reused ingredients.
    </p>
    <p>
      Output: {{ ingredients }}
    </p>
    <p>{{ form.submit() }}</p>
    <p>
      Example input: olive oil, purple onion, fresh pineapple, pork, poblano peppers, corn tortillas, cheddar cheese, ground black pepper, salt, iceberg lettuce, lime, jalapeno chilies, chopped cilantro fresh<br>
      Example output: sharp cheddar cheese, yellow corn meal, pepper, romaine lettuce, vegetable oil, chopped cilantro, skirt steak, sea salt, green tomatoes, pimentos, lemon juice, green beans, lime juice<br>
    </p>
  </form>
{% endblock %}
