<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Helllllooooo</title>
  </head>
  <body>
    <div>
      Base:
      <a href="/input">Macro inputs</a>
      <a href="/rank">Rank meals</a>
      <a href="/cluster/">Cluster ingredients</a>
      <a href="/substitute/">Substitute a meal</a>
      <a href="/info/">More relevant information</a>
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
